/* landingpage animation */

/*.ball {
  position: absolute;
  width: 25%;
  height: 25%;
  background-image: url(louis_fuld.svg);
  background-size: 100%;
  top: 40%;
  left: 40%;
}

.animation {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
}

.pattern {
  animation: pattern 10s infinite linear;
}

@keyframes pattern {
  0% {
    transform: translate(0%, -165%);
  }
  50% {
    transform: translate(0%, 145%);
  }

  75% {
    transform: translate(-165%, 0%);
  }
  100% {
    transform: translate(0%, -165%);
  }
}*/

@media (min-width: 600px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
