nav a {
  text-decoration: solid;
  color: black;
  font-family: "Press Start 2P", "Bebas Neue";
  font-size: 20px;
  padding: 5px;
}

header {
  background-color: white;
  background-size: cover;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  padding: 40px;
}

body {
  background-color: #40372d;
  /*#836037*/

  margin: 0 auto;
  /* #b5a89c; */
}

.video_forside {
  margin: 30px;
}
/* ______________________fonte og baggrund_____________________________ */

/* __________________________header___________________________________ */
@media (min-width: 375px) {
  header {
    overflow: hidden;
    background-color: white;
  }

  header a {
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: "Press Start 2P", "Bebas Neue";
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
  }

  header a:hover {
    color: burlywood;
  }

  header a:active {
    color: burlywood;
  }

  .header_left {
    float: left;
  }

  .header_left img {
    width: 70%;
  }

  .header_left a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  .header_right {
    float: right;
    display: table;
    height: 100%;
  }

  .header_right img {
    width: 50%;
    margin: 30px;
  }
}
@media (min-width: 600px) {
  header {
    overflow: hidden;
    background-color: white;
  }

  header a {
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: "Press Start 2P", "Bebas Neue";
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
  }

  header a:hover {
    color: burlywood;
  }

  header a:active {
    color: burlywood;
  }

  .header_left {
    float: left;
  }

  .header_left img {
    width: 70%;
  }

  .header_left a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  .header_right {
    float: right;
    display: table;
    height: 100%;
  }

  .header_right img {
    width: 50%;
    margin: 30px;
  }

  .topnav {
    display: none;
  }
}

@media (max-width: 599px) {
  .header_left {
    display: none;
  }
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    position: relative;
    display: block;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    background-color: #40372d;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    background-color: #40372d;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #b27e25;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #b27e25;
    color: white;
  }
}

/* _____________________footer____________________________ */

footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 40px 0px;
  margin-top: 150px;
  box-sizing: border-box;
  background-color: white;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1300px;
  height: 100%;
}

.inner_footer .footer_logo_container {
  width: 25%;
  float: left;
  height: 100%;
  display: block;
}

.inner_footer .footer_logo_container img {
  width: 80%;
  height: auto;
  margin: 0px;
}

.inner_footer .footer_third {
  width: 200px;
  margin: 20px;
  float: left;
  height: 100%;
}

.inner_footer .footer_third h1 {
  font-family: arial;
  font-size: 15px;
  color: black;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_third h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
}

.inner_footer .footer_third a {
  font-family: arial;
  font-size: 15px;
  color: black;
  display: block;
  width: 100%;
  padding: 5px;
  margin-right: 120px;
  /* padding kan stackes, margin kan ikke */
}

.inner_footer .footer_third p {
  font-family: Arial, Helvetica, sans-serif;
}

.inner_footer .footer_third p span {
  font-style: italic;
}

/* .footer_sociale {

} */

/* ________________________________________________________________ */

p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

/* ------------------ BURGERMENU ------------------------------------*/
